In [6]:
import kaggle

In [9]:
!kaggle datasets download -d parulpandey/palmer-archipelago-antarctica-penguin-data

Downloading palmer-archipelago-antarctica-penguin-data.zip to c:\Users\bravi\Desktop\Python\gl\Week9\newdir2\compose-iris

  0%|          | 0.00/11.3k [00:00<?, ?B/s]
100%|██████████| 11.3k/11.3k [00:00<00:00, 6.20MB/s]

In [15]:
import zipfile
zip_ref = zipfile.ZipFile('palmer-archipelago-antarctica-penguin-data.zip', 'r')
zip_ref.extractall('data')

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
df=pd.read_csv('data/penguins_size.csv')

In [17]:
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit

In [8]:
df.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [9]:
df.dropna(how='any',inplace=True)

In [10]:
X_feat=[col for col in df.columns if col not in ['species','island','sex']]
y_feat=['species']

In [11]:
X_feat,y_feat

(['culmen_length_mm', 'culmen_depth_mm', 'flipper_length_mm', 'body_mass_g'],
 ['species'])

In [12]:
X=df[X_feat]
y=df[y_feat]

In [13]:
#categorical_features=X.select_dtypes(include=['object']).columns
#ct=ColumnTransformer([('onehotEncoder',OneHotEncoder(),categorical_features)],remainder='passthrough')
#X=ct.fit_transform(X)

In [14]:
from sklearn.naive_bayes import GaussianNB

In [15]:
nb=GaussianNB()
nb.fit(X,y)

GaussianNB()

In [16]:
y_predict=nb.predict(X)

In [17]:
from sklearn.metrics import accuracy_score,recall_score,precision_score,confusion_matrix

In [18]:
confusion_matrix(y,y_predict)

array([[141,   5,   0],
       [  5,  63,   0],
       [  0,   0, 120]], dtype=int64)

In [19]:
nb.classes_

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype='<U9')

In [20]:
accuracy_score(y,y_predict)

0.9700598802395209

In [54]:
import pickle

In [57]:
pickle.dump(nb,open('models/nb_model.pkl','wb'))

In [60]:
!cp models/nb_model.pkl predictr/predictr/models/nb_model.pkl

'cp' is not recognized as an internal or external command,
operable program or batch file.

In [61]:
import os

In [62]:
def copy_model(path):
    with open(path,'wb') as f:
        f.write(pickle.dumps(nb))

In [63]:
copy_model('predictr/models/nb_model.pkl')

In [64]:
copy_model('trainr/models/nb_model.pkl')

In [1]:
df.columns

NameError: name 'df' is not defined